certifi
charset-normalizer
contourpy
cycler
filelock
flatbuffers
fonttools
fsspec
idna
ImageIO
Jinja2
kiwisolver
MarkupSafe
matplotlib
ml_dtypes
mpmath
networkx
numpy
onnx
onnxruntime-gpu
opencv-python
packaging
pillow
polars
polars-runtime-32
protobuf
psutil
pybind11
pyparsing
python-dateutil
PyYAML
requests
scipy
setuptools
six
sympy
typing_extensions
ultralytics
ultralytics-thop
urllib3
wheel
